.global-loading-css {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: 99999999999;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 5%);
  display: flex;
  justify-content: center;
  align-items: center;

}
